@import '~bootstrap/scss/functions';
@import '../../../../scss/custom-variables';

.radio-custom {
  opacity: 0;
  position: absolute;
  padding: 3px;
}

.radio-custom,
.radio-custom-label {
  cursor: pointer;
  margin: 0;
}

.radio-custom-label {
  position: relative;
  margin-left: 5px;
}

.radio-custom + .radio-custom-label:after {
  background: #fff;
  border: 2px solid $primary;
  display: inline-block;
  vertical-align: middle;
  width: 46px;
  height: 46px;
  padding: 5px;
  text-align: center;
}

.radio-custom + .radio-custom-label-small:after {
  background: #fff;
  border: 2px solid $primary;
  display: inline-block;
  vertical-align: middle;
  width: 28px;
  height: 28px;
  padding: 2px;
  text-align: center;
}

.radio-custom-label-small {
  margin-bottom: 0 !important;
}
.radio-custom + .radio-custom-label:after {
  transition: background-color 0.5s ease;
  border-radius: 50%;
  content: '\F02D5';
  font-family: 'Material Design Icons';
  font-size: 22px;
  color: $primary-light;
}

.radio-custom:checked + .radio-custom-label-small:after {
  content: '\F02D5';
  font-family: 'Material Design Icons';
  background: $primary;
  color: white;
}

.radio-custom + .radio-custom-label-small:after {
  transition: background-color 0.5s ease;
  border-radius: 50%;
  content: '\F08D0';
  font-family: 'Material Design Icons';
  font-size: 13px;
  color: $primary-light;
}

.radio-custom:checked + .radio-custom-label:after {
  content: '\F08D0';
  font-family: 'Material Design Icons';
  background: $primary;
  color: white;
}

.radio-custom[disabled] + .radio-custom-label:after {
  opacity: $btn-disabled-opacity;
}

.radio-custom[disabled]:checked + .radio-custom-label:after {
  background: $primary;
  opacity: $btn-disabled-opacity;
}

.radio-custom:focus + .radio-custom-label {
  outline: 1px solid #ddd;
}
