.slide {
  // height: 250px;
  overflow: hidden;
  // height: 250px;
  // width: 325px;
  padding: 5rem;
}

.slide ::ng-deep {
  zoom: 0.2;
}

:host {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
